
.icon-heart:before { content: '\e792'; } /* '' */
.icon-fork:before { content: '\e800'; } /* '' */
.icon-flow-tree:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-cancel-circle:before { content: '\e805'; } /* '' */
.icon-cancel-circle-open:before { content: '\e806'; } /* '' */
.icon-plus-circle:before { content: '\e807'; } /* '' */
.icon-minus-circle:before { content: '\e808'; } /* '' */
.icon-help-circle:before { content: '\e809'; } /* '' */
.icon-info-circle:before { content: '\e80a'; } /* '' */
.icon-pin:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e80c'; } /* '' */
.icon-tags:before { content: '\e80d'; } /* '' */
.icon-flag:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-upload:before { content: '\e810'; } /* '' */
.icon-export:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-comment:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e814'; } /* '' */
.icon-attention:before { content: '\e815'; } /* '' */
.icon-trash:before { content: '\e816'; } /* '' */
.icon-document:before { content: '\e817'; } /* '' */
.icon-cog:before { content: '\e818'; } /* '' */
.icon-cog-many:before { content: '\e819'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-resize-full:before { content: '\e81b'; } /* '' */
.icon-resize-small:before { content: '\e81c'; } /* '' */
.icon-up-circle:before { content: '\e81d'; } /* '' */
.icon-down-circle:before { content: '\e81e'; } /* '' */
.icon-cut:before { content: '\e81f'; } /* '' */
.icon-paste:before { content: '\e820'; } /* '' */
.icon-check-on:before { content: '\e821'; } /* '' */
.icon-check-off:before { content: '\e822'; } /* '' */
.icon-radio-off:before { content: '\e823'; } /* '' */
.icon-search:before { content: '\e824'; } /* '' */
.icon-mail:before { content: '\e825'; } /* '' */
.icon-user:before { content: '\e826'; } /* '' */
.icon-users:before { content: '\e827'; } /* '' */
.icon-user-add:before { content: '\e828'; } /* '' */
.icon-tiles:before { content: '\e829'; } /* '' */
.icon-list:before { content: '\e82a'; } /* '' */
.icon-home:before { content: '\e82b'; } /* '' */
.icon-3945-link:before { content: '\e82c'; } /* '' */
.icon-attach:before { content: '\e82d'; } /* '' */
.icon-lock:before { content: '\e82e'; } /* '' */
.icon-lock-open:before { content: '\e82f'; } /* '' */
.icon-eye:before { content: '\e830'; } /* '' */
.icon-thumbs-up:before { content: '\e831'; } /* '' */
.icon-upload-cloud:before { content: '\e832'; } /* '' */
.icon-pencil:before { content: '\e833'; } /* '' */
.icon-print:before { content: '\e834'; } /* '' */
.icon-vcard:before { content: '\e835'; } /* '' */
.icon-folder:before { content: '\e836'; } /* '' */
.icon-archive:before { content: '\e837'; } /* '' */
.icon-rss:before { content: '\e838'; } /* '' */
.icon-phone:before { content: '\e839'; } /* '' */
.icon-down-dir:before { content: '\e83a'; } /* '' */
.icon-right-dir:before { content: '\e83b'; } /* '' */
.icon-network:before { content: '\e83c'; } /* '' */
.icon-grid-large:before { content: '\e83d'; } /* '' */
.icon-list-large:before { content: '\e83e'; } /* '' */
.icon-cancel-circle-open-light:before { content: '\e83f'; } /* '' */
.icon-brush:before { content: '\e840'; } /* '' */
.icon-calendar:before { content: '\e841'; } /* '' */
.icon-picture:before { content: '\e842'; } /* '' */
.icon-ok-1:before { content: '\e843'; } /* '' */
.icon-left-open:before { content: '\e844'; } /* '' */
.icon-right-open-2:before { content: '\e845'; } /* '' */
.icon-left-circle:before { content: '\e846'; } /* '' */
.icon-right-circle:before { content: '\e847'; } /* '' */
.icon-dot-circled:before { content: '\e848'; } /* '' */
.icon-medicine-group:before { content: '\e849'; } /* '' */
.icon-medicine-group-old-1:before { content: '\e84a'; } /* '' */
.icon-medicine:before { content: '\e84b'; } /* '' */
.icon-search-1:before { content: '\e84c'; } /* '' */
.icon-angle-double-right:before { content: '\e84d'; } /* '' */
.icon-paragraph:before { content: '\e84e'; } /* '' */
.icon-brandmark:before { content: '\e84f'; } /* '' */
.icon-close-thin:before { content: '\e850'; } /* '' */
.icon-icon-down-thin:before { content: '\e851'; } /* '' */
.icon-bookmark:before { content: '\e852'; } /* '' */
.icon-bookmark-empty:before { content: '\e853'; } /* '' */
.icon-plus-circled:before { content: '\e854'; } /* '' */
.icon-biceps:before { content: '\e855'; } /* '' */
.icon-2-pills:before { content: '\e856'; } /* '' */
.icon-packaging:before { content: '\e857'; } /* '' */
.icon-mini-scale:before { content: '\e858'; } /* '' */
.icon-speedometer:before { content: '\e859'; } /* '' */
.icon-link-internal:before { content: '\e85a'; } /* '' */
.icon-measuring-cup:before { content: '\e85b'; } /* '' */
.icon-switch:before { content: '\e85c'; } /* '' */
.icon-brandmark-squared:before { content: '\e85d'; } /* '' */
.icon-icon-otc:before { content: '\e85e'; } /* '' */
.icon-icon-mnt:before { content: '\e85f'; } /* '' */
.icon-icon-xgvs:before { content: '\e860'; } /* '' */
.icon-icon-b2:before { content: '\e861'; } /* '' */
.icon-arrow-curved:before { content: '\e862'; } /* '' */
.icon-briefcase:before { content: '\e863'; } /* '' */
.icon-users-1:before { content: '\e864'; } /* '' */
.icon-0016-groep-mensen-torso:before { content: '\e865'; } /* '' */
.icon-0015-groep-mensen:before { content: '\e866'; } /* '' */
.icon-2014-nieuws_diap:before { content: '\e867'; } /* '' */
.icon-2019-formulier:before { content: '\e868'; } /* '' */
.icon-2019-formulier_diap:before { content: '\e869'; } /* '' */
.icon-4142-geneesmiddelen-verbeteren:before { content: '\e86a'; } /* '' */
.icon-4085-geneesmiddelen:before { content: '\e86b'; } /* '' */
.icon-2002-info:before { content: '\e86c'; } /* '' */
.icon-2023-informatiemanagement:before { content: '\e86d'; } /* '' */
.icon-8000-binnenlandse-zaken-en-koninkrijksrelaties:before { content: '\e86e'; } /* '' */
.icon-4187-medicatieveiligheid:before { content: '\e86f'; } /* '' */
.icon-4180-jodiumtablet:before { content: '\e870'; } /* '' */
.icon-4087-zwangerschap:before { content: '\e871'; } /* '' */
.icon-4179-pillendoosje-(diapositief):before { content: '\e872'; } /* '' */
.icon-4178-ehbo-doos:before { content: '\e873'; } /* '' */
.icon-4073-reageerbuis:before { content: '\e874'; } /* '' */
.icon-4179-pillendoosje:before { content: '\e875'; } /* '' */
.icon-right-open-big:before { content: '\e876'; } /* '' */
.icon-1003-pijl-rechts:before { content: '\e877'; } /* '' */
.icon-lungs:before { content: '\e878'; } /* '' */
.icon-virus:before { content: '\e879'; } /* '' */
.icon-cancer:before { content: '\e87a'; } /* '' */
.icon-stomach:before { content: '\e87b'; } /* '' */
.icon-4000-psychisch:before { content: '\e87c'; } /* '' */
.icon-1020-hart:before { content: '\e87d'; } /* '' */
.icon-013-neuron:before { content: '\e87e'; } /* '' */
.icon-bacteriophage:before { content: '\e87f'; } /* '' */
.icon-lymphocyte:before { content: '\e880'; } /* '' */
.icon-3916-vraagteken-cirkel:before { content: '\e881'; } /* '' */
.icon-vraagteken:before { content: '\e882'; } /* '' */
.icon-3909-kruis:before { content: '\e883'; } /* '' */
.icon-angle-right:before { content: '\e884'; } /* '' */
.icon-right-open-mini:before { content: '\e885'; } /* '' */
.icon-key:before { content: '\e886'; } /* '' */
.icon-plus:before { content: '\e887'; } /* '' */
.icon-ok-circle:before { content: '\e888'; } /* '' */
.icon-arrow-stop-full:before { content: '\e889'; } /* '' */
.icon-arrow-stop-open:before { content: '\e88a'; } /* '' */
.icon-arrow-stop-small:before { content: '\e88b'; } /* '' */
.icon-arrow-curved-down:before { content: '\e88c'; } /* '' */
.icon-arrow-curved-up:before { content: '\e88d'; } /* '' */
.icon-arrow-stop:before { content: '\e88e'; } /* '' */
.icon-arrow:before { content: '\e88f'; } /* '' */
.icon-exit:before { content: '\e890'; } /* '' */
.icon-file-pdf:before { content: '\e891'; } /* '' */
.icon-file-word:before { content: '\e892'; } /* '' */
.icon-file-excel:before { content: '\e893'; } /* '' */
.icon-file-powerpoint:before { content: '\e894'; } /* '' */
.icon-file-image:before { content: '\e895'; } /* '' */
.icon-file-archive:before { content: '\e896'; } /* '' */
.icon-file-audio:before { content: '\e897'; } /* '' */
.icon-file-video:before { content: '\e898'; } /* '' */
.icon-file-code:before { content: '\e899'; } /* '' */
.icon-doc-text:before { content: '\e89a'; } /* '' */
.icon-docs:before { content: '\e89b'; } /* '' */
.icon-arrows-cw:before { content: '\e89c'; } /* '' */
.icon-update:before { content: '\e89d'; } /* '' */
.icon-ellipsis-hor:before { content: '\e89e'; } /* '' */
.icon-wallet:before { content: '\e89f'; } /* '' */
.icon-eye-1:before { content: '\e8a0'; } /* '' */
.icon-eye-off:before { content: '\e8a1'; } /* '' */
.icon-indication-old:before { content: '\e8a2'; } /* '' */
.icon-medicine-group-old:before { content: '\e8a3'; } /* '' */
.icon-medicine-old:before { content: '\e8a4'; } /* '' */
.icon-4158-boek:before { content: '\e8a5'; } /* '' */
.icon-left-open-big:before { content: '\e8a6'; } /* '' */
.icon-left-open-mini:before { content: '\e8a7'; } /* '' */
.icon-left:before { content: '\e8a8'; } /* '' */
.icon-apple-share:before { content: '\e8a9'; } /* '' */
.icon-award:before { content: '\e8aa'; } /* '' */
.icon-award-1:before { content: '\e8ab'; } /* '' */
.icon-gauge:before { content: '\e8ac'; } /* '' */
.icon-indication-1:before { content: '\e8ad'; } /* '' */
.icon-globe:before { content: '\e8ae'; } /* '' */
.icon-type-is:before { content: '\e8af'; } /* '' */
.icon-is:before { content: '\e8b0'; } /* '' */
.icon-database-on-square:before { content: '\e8b1'; } /* '' */
.icon-3902-klaarzetten:before { content: '\e8b2'; } /* '' */
.icon-information-standard:before { content: '\e8b3'; } /* '' */
.icon-3907-zoek:before { content: '\e8b4'; } /* '' */
.icon-history:before { content: '\e8b5'; } /* '' */
.icon-share:before { content: '\e8b6'; } /* '' */
.icon-megaphone-1:before { content: '\e8b7'; } /* '' */
.icon-building:before { content: '\e8b8'; } /* '' */
.icon-industrial-building:before { content: '\e8b9'; } /* '' */
.icon-zoom-in:before { content: '\e8ba'; } /* '' */
.icon-zoom-out:before { content: '\e8bb'; } /* '' */
.icon-level-down-1:before { content: '\e8bc'; } /* '' */
.icon-level-up-1:before { content: '\e8bd'; } /* '' */
.icon-firefox:before { content: '\e8be'; } /* '' */
.icon-chrome:before { content: '\e8bf'; } /* '' */
.icon-ie:before { content: '\e8c0'; } /* '' */
.icon-opera:before { content: '\e8c1'; } /* '' */
.icon-dialogue:before { content: '\e8c2'; } /* '' */
.icon-left-open-1:before { content: '\e8c3'; } /* '' */
.icon-theatre:before { content: '\e8c4'; } /* '' */
.icon-arrows-apart:before { content: '\e8c5'; } /* '' */
.icon-3915-waarschuwing:before { content: '\e8c6'; } /* '' */
.icon-down-open:before { content: '\e8c7'; } /* '' */
.icon-up-open:before { content: '\e8c8'; } /* '' */
.icon-droplet:before { content: '\e8c9'; } /* '' */
.icon-analytics:before { content: '\e8ca'; } /* '' */
.icon-data:before { content: '\e8cb'; } /* '' */
.icon-swiss-army-knife:before { content: '\e8cc'; } /* '' */
.icon-bold:before { content: '\e8cd'; } /* '' */
.icon-2013-externe-link:before { content: '\e8ce'; } /* '' */
.icon-3938-diagonale-pijl:before { content: '\e8cf'; } /* '' */
.icon-italic:before { content: '\e8d0'; } /* '' */
.icon-link:before { content: '\e8d1'; } /* '' */
.icon-minus:before { content: '\e8d2'; } /* '' */
.icon-picture-1:before { content: '\e8d3'; } /* '' */
.icon-video:before { content: '\e8d4'; } /* '' */
.icon-quality-thumb:before { content: '\e8da'; } /* '' */
.icon-quality-tick:before { content: '\e8db'; } /* '' */
.icon-quality-thumb-circle:before { content: '\e8dc'; } /* '' */
.icon-form-pencil:before { content: '\e8dd'; } /* '' */
.icon-form-pencil-portrait:before { content: '\e8df'; } /* '' */
.icon-data-protection:before { content: '\e8e0'; } /* '' */
.icon-personal-data:before { content: '\e8e1'; } /* '' */
.icon-privacy-ok:before { content: '\e8e2'; } /* '' */
.icon-megaphone:before { content: '\e8f0'; } /* '' */
.icon-publish:before { content: '\e996'; } /* '' */
.icon-book-page-turning:before { content: '\e9c9'; } /* '' */
.icon-angle-right-larger:before { content: '\f006'; } /* '' */
.icon-ruler:before { content: '\f044'; } /* '' */
.icon-doc-1:before { content: '\f04a'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-6012-chemische-producten:before { content: '\f0c3'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-gauge-1:before { content: '\f0e4'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-indication:before { content: '\f0f0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right-thinner:before { content: '\f105'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-spin:before { content: '\f126'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-spoon:before { content: '\f1b1'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-spread:before { content: '\f527'; } /* '' */
